{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

    <div class="verdad" align="center">
        <img src="{% static 'app/images/verdad.jpg' %}" alt="">
        <div class="mision">
            <h1>Misión de Caos News</h1>
            <p>En Caos News, somos un colectivo de noticias formado por jóvenes estudiantes de periodismo y comunicación audiovisual que están cansados de los medios tradicionales y buscan ofrecer una mirada fresca y joven a la información que se difunde.</p>
            <p>Cada uno de los integrantes de nuestro equipo aporta su experiencia y habilidades para cubrir de la mejor manera posible las noticias que están sucediendo en Chile y en el mundo. Nuestra misión es informar con veracidad y objetividad, pero también con un enfoque innovador y diferente, que se aleje de los estereotipos y clichés presentes en los medios tradicionales.</p>
            <p>Creemos que la diversidad y la pluralidad de voces son fundamentales para construir una sociedad más informada y consciente, por lo que en Caos News trabajamos por dar espacio a distintas perspectivas y puntos de vista.</p>
            <p>En resumen, nuestra misión es ofrecer una alternativa periodística fresca, joven y comprometida con la verdad y la pluralidad, con la intención de promover una sociedad más crítica y consciente.</p>
        </div>
    </div>

{% endblock %}